---
import TopPage from "../../components/TopPage"
import VanillaLayout from "@/layouts/VanillaLayout.astro";

export async function getStaticPaths() {
  return [
    { params: { lang: undefined } },
    { params: { lang: 'ja' } },
  ];
}

---

<VanillaLayout content={{title:"Top"}}>
	<h1>hoge</h1>
  <h2>fuga</h2>
  <div style="height: 200vh; background: linear-gradient(to bottom, #ff0000, #00ff00);"></div>
</VanillaLayout>
