---
import VanillaLayout from "@/layouts/VanillaLayout.astro";
import { fetchEntriesWithLocale } from "@/lib/contentful";
import { getLangFromUrl, useTranslations } from "@/lib/i18n/utils";


export async function getStaticPaths() {
  return [
    { params: { lang: undefined } },
    { params: { lang: 'ja' } },
  ];
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const locale = lang === "en" ? "en-US" : lang;
const works = await fetchEntriesWithLocale("works", locale);
if (!works) {
  throw new Error("No works found");
}

---

<VanillaLayout content={{ title: "Works" }}>
  <h1>Works</h1>
  <ul>
    {works.map((work) => (
      <li><a href={`/works/${work.slug}`}>{work.title}</a></li>
    ))}
  </ul>
</VanillaLayout>