---
import ThemeIcon from './ThemeIcon.astro';
---
<header class="l-header z-10 fixed top-0 left-0 w-full h-16 flex items-center justify-between bg-white text-black dark:bg-black dark:text-white">
  <div class="w-36"><img class="fill-current text-black" src="/public/images/name.svg" alt="Yu Ohno Logo" /></div>
  <ThemeIcon />
</header>