---
import { Image } from 'astro:assets';
import ThemeIcon from './ThemeIcon.astro';
---
<header class="l-header z-50 fixed top-2 left-1/2 -translate-x-1/2 px-8 w-4/5 h-16 flex items-center justify-between bg-white shadow-md rounded-full text-black dark:bg-black dark:text-white">
  <div class="flex items-center gap-2">
    <a href="/" class="w-36 mix-blend-multiply dark:mix-blend-difference dark:invert dark:grayscale">
      <Image src="/images/name.png" width={128} height={34} alt="Yu Ohno" />
    </a>
    <a href="/about">
      About
    </a>
    <a href="/works">
      Works
    </a>
  </div>
  <ThemeIcon />
</header>