---
import { LenisProvider } from '@/components/provider/LenisProvider';
import '../styles/global.css';
const { content } = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
	</head>
	<body style={{ margin: 0, padding: 0 }}>
    <LenisProvider client:only="react">
      <slot />
    </LenisProvider>
	</body>
</html>
