---
import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';
const { content, class: className } = Astro.props;
---

<BaseLayout content={content}>
	<main class={className}>
		<slot />
	</main>
	<script src="https://unpkg.com/lenis@1.3.1/dist/lenis.min.js"></script> 
	<script is:inline>
		window.addEventListener('DOMContentLoaded', () => {
			if (typeof Lenis !== 'undefined') {
				const lenis = new Lenis({ smooth: true });
				function raf(time) {
					lenis.raf(time);
					requestAnimationFrame(raf);
				}
				requestAnimationFrame(raf);
			} else {
				console.warn('Lenis is not loaded');
			}
		});
	</script>
</BaseLayout>
